<div class="container">
 <div class="row">
  <div class="col-sm-7">
   <h2>検索結果</h2>
   <% if @images.present? %>
    <% @images.each do |hobby_image| %>
    <div class="card mx-auto mt-4 shadow-lg ">
     <div class="user-image">
      <div>
      <!--プロフィール画像-->
      <%= attachment_image_tag hobby_image.user, :user_image, size: "50x50", format: 'jpg', fallback: "no_image.jpg" %>
      </div>
      <div>
       <!--投稿者名-->
       <%= link_to user_path(hobby_image.user) do %>
        <p><%= hobby_image.user.name %></p>
       <% end %>
      </div>
     </div>
     <!--投稿画像-->
     <div class="slider">
      <% hobby_image.images.each do |image| %>
       <%= link_to hobby_image_path(hobby_image.id) do %>
        <%= attachment_image_tag image, :hobby, size: "500x500" %>
       <% end %>
      <% end %>
     </div>
     <!--画像説明-->
     <%= hobby_image.body %>
     <!--コメント数-->
     <p><%= hobby_image.image_comments.count %>コメント</p>
     </div>
    <% end %>
   <% else %>
    <% if @users.present? %>
     <% @users.each do |user| %>
      <%= link_to user_path(user.id) do %>
       <h4><%= user.name %></h4>
      <% end %>
      <!--プロフィール画像-->
      <%= attachment_image_tag user, :user_image, size: "150x150", format: 'jpg', fallback: "no_image.jpg" %>
     <% end %>
    <% end %>
   <% end %>
  </div>
 </div>
</div>
