<% if @user.errors.any? %>
  <%= @user.errors.count %>件のエラーが発生しました
  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<h2>プロフィール編集</h2>
<div class="container">
  <%= form_with model:@user, local:true do |f| %>
 <div class="row">
  <div class="col-sm-5">
   <!--画像プレビュー-->
   <img id="preview" style="width:40%;">
   <label for="inputImage">プロフィール画像</label>
   <%= f.attachment_field :user_image, placeholder: "プロフィール画像" %>
  </div>
  <div class="col-sm-7">
    <!--ユーザーネーム入力-->
    <table>
     <tr><th><label for="inputName">Name</label></th><td><%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%></td></tr>
     <tr><th><label for="inputBody">introduction</label></th><td><%= f.text_area :body, autofocus: true, id:"inputBody", placeholder:"自己紹介"%></td></tr>
    </table>
   <%= f.submit "変更を保存" %>
  </div>
 </div>
 <% end %>
</div>


<!--画像プレビューのためのjs-->
<script>
  $('#user_user_image').on('change', function (e) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $("#preview").attr('src', e.target.result);
    }
    reader.readAsDataURL(e.target.files[0]);
});
</script>




