<div class="container">
<h1>マイページ</h1>
 <div class="row">
  <div class="col-sm-4">
   <!--プロフィール画像-->
   <%= attachment_image_tag @user, :user_image, size: "150x150", format: 'jpg', fallback: "no_image.jpg" %>
   <!--ユーザー名-->
   <h3><%= @user.name %></h3>
   <!--自己紹介-->
   <h5><%= @user.body %></h5>
   <!--フォロー-->
   <%= link_to following_path(id: @user.id) do %>
    <p>フォロー数:<%= @user.follower_count %></p>
   <% end %>
   <!--フォロワー-->
   <%= link_to followed_path(id: @user.id) do %>
    <p>フォロワー数:<%= @user.followed_count %></p>
   <% end %>
   <!--@user == current_userはmodelに定義-->
   <% unless @user.current_user?(current_user) %>
    <% if current_user.following?(@user) %>
     <%= link_to 'フォロー外す', unfollow_path(@user.id), method: :POST %>
    <% else %>
     <%= link_to 'フォローする', follow_path(@user.id), method: :POST %>
    <% end %>
   <% end %>
   <!--プロフィール編集リンク、@user == current_userはmodelに定義-->
   <% if @user.current_user?(current_user) %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
   <% end %>
  </div>
   <div class="col-sm-8">
   <h3>投稿一覧</h3>
   <div class="images">
   <% @images.each do |image| %>
    <div class="card mt-2 mr-2 ">
     <!--投稿画像-->
     <div>
      <% image.images.each do |image| %>
     <%= link_to hobby_image_path(image.id) do %>
      <%= attachment_image_tag image, :hobby, size: "50x50", format: 'jpg', fallback: "no_image.jpg" %>
     <% end %>
     <% end %>
     </div>
     <div class="card-comment">
      <!--コメント数-->
      <p><%= image.image_comments.count %>コメント</p>
     </div>
     <% if @user.current_user?(current_user) %>
      <%= link_to "削除", hobby_image_path(image.id), method: :delete %>
     <% end %>
    </div>
   <% end %>
   </div>
  </div>
 </div>
</div>

