
<div class="container">
 <div class="row">
  <div class="col-sm-7">
   <h2>投稿一覧</h2>
   <% @images.each do |image| %>
    <div class="card mt-4">
     <!--プロフィール画像-->
     <%= attachment_image_tag image.user, :user_image, size: "50x50", format: 'jpg', fallback: "no_image.jpg" %>
     <!--投稿者名-->
     <%= link_to user_path(image.user) do %>
      <%= image.user.name %>
     <% end %>
     <!--投稿画像-->
     <%= link_to hobby_image_path(image.id) do %>
      <%= attachment_image_tag image, :image, size: "500x500", format: 'jpg', fallback: "no_image.jpg" %>
     <% end %>
     <div class="card-body">
     <p class="card-text">
     <!--画像説明-->
     <%= image.body %>
     </p>
     <!--コメント数-->
     <p><%= image.image_comments.count %>コメント</p>
     </div>
    </div>
   <% end %>
  </div>
  <div class="col-sm-5">
   <h2>いいね数ランキング</h2>
   <% @all_ranks.each.with_index(1) do |image,i| %>
    <p><%= i %>位</p>
    <!--プロフィール画像-->
     <%= attachment_image_tag image.user, :user_image, size: "50x50", format: 'jpg', fallback: "no_image.jpg" %>
     <!--投稿者名-->
     <%= link_to user_path(image.user) do %>
      <%= image.user.name %>
     <% end %>
     <!--投稿画像-->
     <%= link_to hobby_image_path( image.id) do %>
      <%= attachment_image_tag image, :image, size: "400x400", format: 'jpg', fallback: "no_image.jpg" %>
     <% end %>
     <p>♥<%= image.favorites.count %> いいね</p>
   <% end %>
  </div>
 </div>
</div>
