<h1>投稿詳細</h1>
<!--投稿者名-->
 <%= @image.user.name %>
 <!--投稿画像-->
 <%= attachment_image_tag @image, :image, size: "150x150", format: 'jpg', fallback: "no_image.jpg" %>
 <!--画像説明-->
 <%= @image.body %>

<div class="comments">
<p>コメント件数：<%= @image.image_comments.count %></p>
<% @image.image_comments.each do |image_comment| %>
  <%= image_comment.user.name %>
  <%= image_comment.created_at.strftime('%Y/%m/%d') %><%= image_comment.comment %>
  <!--コメント削除欄-->
  <% if image_comment.user == current_user %>
   <div class="comment-delete">
    <%= link_to "削除", hobby_image_image_comment_path(image_comment.hobby_image, image_comment), method: :delete %>
   </div>
  <% end %>
<% end %>
</div>

<div class="new-comment">
<%= form_with(model:[@image, @image_comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>