<!DOCTYPE html>
<html>
  <head>
    <title>Hobby Graph</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/e8f000d4c1.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!--ヘッダー部分-->
  <body class="container">
    <div class="row col-md-8">
    <nav>
     <!--ロゴ-->
     <p></p><div class="logp"><%= image_tag 'hg-logo.png', size: "60x60" %>Hobby Graph</div></p>
     <!--nav-->
     <ul class="nav float-right">
      <% if user_signed_in? %>
      <!--ログイン後-->
      <li class="nav-item">
        <%= link_to "新規投稿", new_hobby_image_path %>
      </li>
      <li class="nav-item">
        <%= link_to "投稿一覧", hobby_images_path %>
      </li>
      <li class="nav-item">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
     <% else %>
     <!--ログイン前-->
      <li class="nav-item">
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li class="nav-item">
        <%= link_to "ログイン", new_user_session_path %>
      </li>
     </ul>
     <% end %>
    </nav>
    </div>
    <%= yield %>
  </body>
</html>

