<!DOCTYPE html>
<html>
  <head>
    <title class="title">Hobby Graph</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/e8f000d4c1.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<!--ヘッダー部分-->

<header>
 <nav>
  <div class="container">
   <div class="row ">
     <div class="col-sm-4">
      <!--ロゴ-->
      <%= link_to root_path do %>
       <p></p><div class="logp"><%= image_tag 'hg-logo.png', size: "60x60" %>Hobby Graph</div></p>
      <% end %>
     </div>
     <div class="col-sm-8">
      <!--nav-->
      <ul class="nav float-right">
       <% if user_signed_in? %>
       <!--ログイン後-->
       <li class="nav-item">
        <%=link_to "News", news_path %>
       </li>
       <li class="nav-item">
        <%= link_to "マイページ", user_path(current_user.id) %>
       </li>
       <li class="nav-item">
        <%= link_to "新規投稿", new_hobby_image_path %>
       </li>
       <li class="nav-item">
        <%= link_to "投稿一覧", hobby_images_path %>
       </li>
       <li class="nav-item">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
       </li>
       <li class="nav-item">
        <%= link_to "お問い合わせ", new_inquiry_path %>
       </li>
       <li>
        <!--検索ウィンドウ-->
        <%= form_with url: search_search_path, method: :get, local: true do |f| %>
         <%= f.text_field :content %>
         <%= f.select :model, [["User", "User"],["keyword","HobbyImage"]], include_blank: "選択して下さい" %>
         <%= f.select :how, [["完全一致", "match"],["部分一致", "partical"]],include_blank: "選択して下さい" %>
         <%= f.submit :search, class: "btn btn-success" %>
        <% end %>
       </li>
       <% else %>
       <!--ログイン前-->
       <li class="nav-item">
        <%=link_to "News", news_path %>
       </li>
       <li class="nav-item">
        <%= link_to "投稿一覧", hobby_images_path %>
       </li>
       <li class="nav-item">
        <%= link_to "新規登録", new_user_registration_path %>
       </li>
       <li class="nav-item">
        <%= link_to "ログイン", new_user_session_path %>
       </li>
       <li>
        <!--検索ウィンドウ-->
        <%= form_with url: search_search_path, method: :get, local: true do |f| %>
         <%= f.text_field :content %>
         <%= f.select :model, [["User", "User"],["keyword","HobbyImage"]], include_blank: "選択して下さい" %>
         <%= f.select :how, [["完全一致", "match"],["部分一致", "partical"]],include_blank: "選択して下さい" %>
         <%= f.submit :search %>
        <% end %>
       </li>
       <% end %>
      </ul>
    </div>
   </div>
  </div>
 </nav>
</header>
<body>

 <%= yield %>
</body>
</html>

